

.pseudo_link {
    color: #000;
    text-decoration: underline !important;
}

.pseudo_link:hover {
    color: #000;
    text-decoration: none;
}

.container-list .media {
    display: inline-block;
    color: #000;
}

.container-list .media {
    text-decoration: none !important;
    color: #000;
}

.container-list .media:hover {
    background-color: #f5f5f5;
    text-decoration: none !important;
    color: #000;
}


.container-list p {
    margin: 0;
    font-size: 14px;
}

.container-list .media-heading {
    font-size: 18px;
}

.container-list .media {
    margin-bottom: 5px;
}

.media__datetime {
    font-size: 13px;
    display: block;
    color: #8a8a8a;
    display: inline-block;
    margin-bottom: 5px;
}


.container-list .media {
    overflow: initial;
}

.container-list .media-grouped_menu {
    width: 25px;
    /*min-height: 100px;*/
    background: #FFF;
    color: #000;
}

.container-list .dropdown-menu {
    right: 100%;
    top:0;
    left: initial;
    margin-top: 0;
    border-radius: 0;
}


.container-list .dropdown-toggle::after {
    border-right: .4em solid !important;
    border-top: .4em solid transparent !important;
    border-bottom: .4em solid transparent !important;
    margin-left: 0;
}
