{% extends "base.jinja" %}


{% block head_title -%}
    Fish Log - the best log!
{%- endblock %}

{% block head_css %}
    <link href="{{ static('bootstrap-4.0.0-alpha.5-dist/css/bootstrap.min.css') }}" rel="stylesheet">

    <link href="{{ static('/static/index/cover.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">FishLog</h3>
              <nav class="nav nav-masthead">
                <a class="nav-link active" href="{{ url('index') }}">Home</a>
                <a class="nav-link" href="{{ url('log_index') }}">Your log</a>
                <a class="nav-link" href="#">Contact</a>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">The best fish logger, presents!</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita illum libero alias odio! Rem dolor totam temporibus necessitatibus asperiores culpa, quas, ut doloremque, hic reprehenderit aliquid voluptates esse debitis voluptatibus.</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="https://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <div class="cover_fish"></div>
{% endblock %}

{% block body_end_scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
{% endblock %}
