<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    {# <meta name="author" content=""> #}
    {# <link rel="icon" href="../../favicon.ico"> #}

    <title>{% block head_title %}{% endblock %}</title>

    <link href="{{ static('bootstrap-4.0.0-alpha.5-dist/css/bootstrap.min.css') }}" rel="stylesheet">
    {% block head_css %}{% endblock %}
  </head>

  <body>
    {% block content %}{% endblock %}

    {% block body_end_scripts %}{% endblock %}
  </body>
</html>
