{% extends "base.jinja" %}


{% block head_title -%}
    Your Fish Log - some detail log
{%- endblock %}

{% block head_css %}
    <link rel="stylesheet" href="{{ static('css/customize.css') }}">
{% endblock %}



{% block content %}
    <div class="container">
        {% include 'includes/topmenu.jinja' %}
    </div>


    <br>
    <br>


    <div class="container">
      <h2>Краснопестрый окунь соминый</h2>

      <img src="holder.js/600x400?theme=gray">

      <p>
        {# Краснопестрый окунь соминый, 3 кг, 38 см, на хлеб #}
        Показать на карте
        условия окружающей среды
        инвентарь
        прикорм
        наживка
        метод ловли
        описание улова
        ожидание от рыбалки


      </p>

      {{ log.catch.video_url }}
      {{ log.catch.description|safe }}
      {{ log.catch.weight }}
      {{ log.catch.length }}
      {{ log.catch }}
      {{ log.date }}
      {{ log.enviroment.temperature }}
      {{ log.enviroment.pressure }}
      {{ log.enviroment.humidity }}
      {{ inventory }}



    </div>
{% endblock %}

{% block body_end_scripts %}
    <script src="{{ static('js/holder.min.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script src="{{ static('bootstrap-4.0.0-alpha.5-dist/js/bootstrap.min.js') }}"></script>
{% endblock %}
