{% extends "base.jinja" %}


{% block head_title -%}
    Your Fish Log
{%- endblock %}

{% block head_css %}
    <link rel="stylesheet" href="{{ static('css/customize.css') }}">
{% endblock %}


{% macro list_item(log=None) %}
    <a href="{{ url('log_detail', log.pk) }}" class="media">
      <span class="media-left media-middle">
        <img src="holder.js/100x80?theme=gray">
      </span>
      <div class="media-body">

        <span class="media__datetime">
            <time datetime="2004-07-24T18:18:18+04:00">{{ log.date }}</time>
        </span>

        <h4 class="media-heading">{{ log.catch }}</h4>
      </div>
      <div class="media-right media-top media-grouped_menu">

        <ul class="nav nav-pills">
          <li class="nav-item dropdown">
            <span class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"></span>
            <div class="dropdown-menu">
              <span class="dropdown-item" href="#">на карте</span>
              <span class="dropdown-item" href="#">окружающая среда</span>
            </div>
          </li>
        </ul>
      </div>

      <div class="clearfix"></div>
    </a>

{% endmacro %}


{% block content %}
    <div class="container">
        {% include 'includes/topmenu.jinja' %}
    </div>


    <br>
    <br>


    <div class="container container-list">

        {% for log in logs %}
            {{ list_item(log) }}
        {% endfor %}



        <a href='#' class="media">
          <span class="media-left">
            <img src="holder.js/100x80?theme=gray">
          </span>
          <div class="media-body">

            <span class="media__datetime">
                <time datetime="2004-07-24T18:18:18+04:00">19.09.2016 пон</time>
            </span>
            <h4 class="media-heading">Карп, 900 г, 15 см, на бухло</h4>
            <span href="#" class="btn btn-outline-info btn-sm">на карте</span>
            <span href="#" class="btn btn-outline-info btn-sm">окружающая среда</span>
          </div>
        </a>





<nav aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">4</a></li>
    <li class="page-item"><a class="page-link" href="#">5</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>



    </div>
{% endblock %}

{% block body_end_scripts %}
    <script src="{{ static('js/holder.min.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script src="{{ static('bootstrap-4.0.0-alpha.5-dist/js/bootstrap.min.js') }}"></script>
{% endblock %}
